In [3]:
'''
    概率与统计
'''
import pandas as pd

# 示例：创建一个示例 DataFrame
data = {'size': ['S', 'M', 'L', 'XL']}
df = pd.DataFrame(data)
#以字典定义转换规则
size_map = {
    'S':'1',
    'M':'2',
    'L':'3',
    'XL':'4'
}

#使用map转换
df['size'] = df['size'].map(size_map).fillna("默认值")
for key in size_map:
    print(key,size_map[key])

S 1
M 2
L 3
XL 4

In [12]:
'''
    抽样
'''
import random
import numpy as np

list1 = list(np.arange(1,1000))
#简单抽样
sub_list = random.sample(list1,5)
for i in sub_list:
    print(i)
print("========放回式抽样=========\n")
#放回式抽样
sub_list = random.choices(list1,k=5)
for i in sub_list:
    print(i)

100
97
607
38
799
========放回式抽样=========

303
729
977
161
949

In [15]:
'''
    pandas库进行抽样
'''
from sklearn import datasets
import pandas as pd

#加载鸢尾花(iris)资料集
iris = datasets.load_iris()

#x,y合成一个资料集
df = pd.DataFrame(data= iris.data, columns= iris.feature_names)
df['y'] = iris.target

#随机抽取5个样本
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),y
34,4.90000,3.10000,1.50000,0.20000,0
46,5.10000,3.80000,1.60000,0.20000,0
1,4.90000,3.00000,1.40000,0.20000,0
119,6.00000,2.20000,5.00000,1.50000,2
17,5.10000,3.50000,1.40000,0.30000,0